.fa {
    padding: 15px 7px;
    font-size: 40px;
    width: 50px;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}
.fa-facebook {
     background: #3B5998; color: white; 
}
.fa-youtube { 
    background: #bb0000; color: white;
 }
.fa-twitter { 
    background: #1DA1F2; color: white;
 }
 .fa-instagram { 
    background: #9820c4; color: white;
 }
.footer {
    background-color: #101124;
    color: white;
    padding: 30px 0;
    font-family: Arial, sans-serif;
    height: 280px;
    border: 4px solid #101126;
    margin-top: 100px;
}
.footer-container {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 20px;
}
.footer-col {
    width: 30%;
    margin-left: 30px;
}
.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.footer-col ul {
    list-style: square;
    padding: 0;
}
.footer-col ul li {
    margin-bottom: 5px;
    font-size: 15px;
    margin-left: 50px;
    padding-top: 2px;
}
*{
    text-decoration: none;
}
.footer-logo {
    width: 131px;
    margin-left: 64px;
    padding-right: 5px;
}
.footer a{
    color: white;
}
.footer-logo-name {
    display: inline-block;
    font-size: 100%;
    margin-top: 10px;
    color: white;
    padding-right: 5px;
}
.footer-media {
    width: 25%;
    text-align: right;
    padding-top: 25px;
}
.footer hr {
    border: 0;
    height: 1px;
    width: 90%;
    margin: 20px auto;
}
.footer-credits {
    font-size: medium;
    text-align: center;
    color: #606C38;
}
