.container-fluid {
    width: 100%;
    height: 400px;
}
.container{
    width: 100%;
}
*{
        box-sizing: border-box;
}
.row{
        width: 100%
    }
    .clearfix ::after{
    clear: both;
    content: "";
    display: block;
}
.card{
        position: relative;
        width: 23%; 
        border: 2px solid black;
        box-shadow: black 0px 2px 8px 0px;
        float: left;
        margin: 10px;
        background-color: #131637;
        color: white;
        padding: 10px;
        height: 500px;
}
.card span{
        position: absolute;
        top: 20px; right: 20px;
        color: white;
        padding: 10px;
        background-color: #5E5F8F;
        border-radius: 5px;
}
 .card img{
        width: 100%;
    }

body{
        background-image: url(Image/Stars.jpg);
        background-size: cover;
}

.link{
        color: white;
        text-decoration: none;
}
header{
        background-color: #131637;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        font-size: large;
}
.header-row{
        width: 100%;
}
.header-col1{
        width: 10%;
        background-color: #131637;
        float: left;
}
.header-col2{
        width: 86%;
        background-color: #131637;
        float: left;
        text-align: center;
        padding: 10px;
        margin: 30px;
}
.nav-bar{
        list-style-type: none;
        padding: 10px;
}
.header-col2 a{
        text-decoration: none;
        color: white;
}
.header-col2 li{
        display: inline-block;
        width: 150px;
        margin-left: 20px;
        padding: 10px;
        background-color: #5E5F8F;
        border-radius: 5px;
}
.container-nav{
        width: 85%; margin: auto;
        margin-top: 30px;margin-bottom: 30px;
}
.row {width: 100%;}
#backtotop{
            position: fixed;
            right: 10px; bottom: 10px;
            width: 50px;
 }
 .div-space{
        width: 100%;
        height: 150px;
 }
.container-hero{
        width: 100%;
}
.hero{
        background-image: url(Image/blackhole.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10px;
        text-align: left;
        padding: 70px;
        height: 500px;
        text-transform: uppercase;
        color: #82715c;
        font-size: 50px;
}
.small-text{
        font-size: 25px;
        color: #e2d3b8;
        text-transform: none;
        width: 500px;
        padding-top: 40px;}